@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --yellow-color: #f4d04e;
  --gray950-color: #111111;
  --gray500-color: #6b6b6b;
  --white-color: #fff;
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
.preset1 {
  font-weight: 800;
  font-size: 1.5rem;
}
.preset2 {
  font-weight: 500;
  font-size: 1rem;
}
.preset3 {
  font-weight: 500;
  font-size: 14px;
}
.preset3-bold {
  font-weight: 800;
  font-size: 14;
}

body {
  background-color: var(--yellow-color);
  display: grid;
  place-content: center;
  height: 100vh;
}
footer {
  display: flex;
  gap: var(--space-150);
  align-items: center;
}
.card {
  border-radius: 20px;
  padding: 1.5em;
  min-height: 453px;
  background-color: var(--white-color);
  margin: 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}
.badge {
  border-radius: 4px;
  padding: 0.25em 0.75em;
  background-color: var(--yellow-color);
  width: fit-content;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}
.description {
  color: var(--gray500-color);
}
